html {
    background-image: url(leaves.jpg);
}
body {
    font-family: "Helvetica", Sans-Serif;
    color: black;
    text-align: center;
    background-color: white;
    width: 500px;
    height: 350px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -200px;
    margin-left: -250px;
}

h1{
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
}

#increment-btn {
    background-color: green;
    color: white;
}
#save-btn {
    background-color: greenyellow;
    color: black;
}

#startAgain-btn {
    background-color: red;
    color: black;
    color: white;
}

button {
    width: 110px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

p {
    font-size: 20px;
    padding: 20px;
}